# CIS024C - Summer 2018 

## Homework 2

Homework 2 covers some basic programming exercises in Python

You will need to download this notebook and use this as a starting point for your homework. You will just need to fill in the content of each code-block (cell) and execute. Once you have completed all the exercises, you will need to save and upload this to your github repository under a folder called hw1.

Note also the exercises build on top of one another so you might be able to do the next exercise if you have not completed the previous exercise.

Post any questions you have on our Slack at **cis-024c1.slack.com**

### Coding Exercises

In this section of the homework, you will be doing some simple coding exercise to familiarize yourself with your Python development environment - Jupyter. A development environment is also referred to as an IDE or Integrated Development Environment. 

Below are some useful commands to know when using Jupyter

1. You can add a new cell by clicking on the "+" icon on top.
2. You can delete a cell by selecting that cell and clicking on the "scissors" icon on top.
3. You can execute a cell by either pressing shift+enter or selecting the "play" button on top.
4. You can create a new file in Jupyter via the File menu->New Notebook option. Make sure to select Python 3 when creating your notebook.
5. Also, for your code blocks make sure that Code is selected instead of another option like Markdown.
6. Use the Enter key to go to the next line in a cell to enter the next statement.
7. You can clear results by clicking on the Cell menu item and selecting Current Output->Clear or All Output->Clear depending on whether you are trying to just clear the output for one cell or for all cells.
8. In case your program has crashed for some reason (infinite loop, for example), you can restart your Python session by select Kernel in the menu and selecting Restart.

#### Sample Exercise 1

Create two variables x and y. Assign the value of 5 to x and 10 to y. Display the result for x and y

In [1]:
x = 5
y = 10
print x,y

5 10

#### Sample Exercise 2

Create two variables x and y. Assign an arbitrary value to them. Find the sum of x and y and assign to a new variable z. Display the result for z

In [2]:
x = 10
y = 20
z = x + y
print z

30

#### Exercise 3.1

Create two variables a and b. Assign 5 to a and 6 to b. Display the result of a and b.

In [3]:
a = 5
b = 6
print(a,b)

5 6

#### Exercise 3.2

* Create a string variable called **greeting**. Assign the string "Hello" to this variable.
* Create another string variable called **person**. Assign the string "Oscar" to this variable

In [6]:
greeting = "Hello"
person = "Oscar"

#### Exercise 3.3

* Create a third variable called **personalGreeting**.
* Assign the sum of the two previously created variables **greeting** and **person** to personalGreeting.
* Display the result.
* Can you clean up the result so it look pretty?

In [9]:
personalGreeting = greeting + " " + person
print(personalGreeting)

Hello Oscar

#### Exercise 3.4

* Use the **input** utility to ask the user to enter his/her age.

Refer to the class slides for a description of how input works.

In [19]:
agee = input("Enter age: ")

Enter age: 10

#### Exercise 3.5

* Use the **input** utility to ask the user to enter his/her age. Assign the response to a variable called **age**

In [20]:
age = int(input("Enter age: "))
print("You are", (age), "years old.")

Enter age: 15
You are 15 years old.

#### Exercise 3.6

* Use the **if** statement to compare the value of **age** with 35.

In [23]:
if age==35:
    print("Age is equal to 35.")
else:
    print("Age is not equal to 35.")

Age is not equal to 35.

#### Exercise 3.7

* Use the **if** statement to compare the value of age with 35
* if the value of age is greater than 35, then display the string "the age if greater than 35". otherwise, display the string "the age is not greater than 35"

Refer to class lecture slides on the **if** statement in case it is unclear how to use the if and the else statement.

In [24]:
if age>35:
    print("Age is greater than 35.")
else:
    print("Age is not greater than 35.")

Age is not greater than 35.

#### Exercise 3.8 - Integers

* Create an integer variable **number** and assign the value 10 to this number
* Divide the number by 4 using the **/** operator and display the result
* Divide the number by 4 usin the **//** operator (integer divide) and display the result
* Find the modulus of the number by 4 using the modulus operator **%** and display the result (example: newNumber = number%4)

Notice the result and see if you can understand how they are different.

In [29]:
number = 10
number/4

2.5

In [30]:
number//4

2

In [31]:
newNumber = number%4

In [32]:
print(newNumber)

2

#### Exercise 3.9 - Floats

* Create a floating variable **number** and assign the value 101.35 to it
* Divide the number by 4 using the **/** operator and display the result
* Divide the number by 4 usin the **//** operator (integer divide) and display the result
* Find the modulus of the number by 4 using the modulus operator **%** and display the result (example: newNumber = number%4)

In [35]:
number1 = 101.35

In [36]:
number1/4

25.3375

In [37]:
number1//4

25.0

In [38]:
newNumber1 = number1%4

In [39]:
print(newNumber1)

1.3499999999999943

#### Exercise 3.10 - Booleans

* Create an integer variable called **myAge** and assign the value 21 to it
* Create another integer variable called **yourAge** and assign the value 25 to it.
* Use the comparison operator "==" (double-equals) to compare the two variables. Assign the result of the compare to a new variable called **result**
* Display **result**.
* Create another integer variable called **hisAge** and assign the value 25 to it.
* Use the comparison operator "==" (double-equals) to compare the **myAge** with **hisAge**. Assign the result of the compare to **result**
* Display **result**

In [40]:
myAge = 21
yourAge = 25
myAge==yourAge

False

In [42]:
hisAge = 25
yourAge==hisAge

True